<?xml version="1.0" encoding="UTF-8" ?>
<Configuration status="WARN" packages="org.cryptomator">

	<Appenders>
		<Console name="StdOut" target="SYSTEM_OUT">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
			<ThresholdFilter level="WARN" onMatch="DENY" onMismatch="ACCEPT" />
		</Console>
		<Console name="StdErr" target="SYSTEM_ERR">
			<PatternLayout pattern="%16d %-5p [%c{1}:%L] %m%n" />
			<ThresholdFilter level="WARN" onMatch="ACCEPT" onMismatch="DENY" />
		</Console>
	</Appenders>

	<Loggers>
		<!-- defaults: -->
		<Root level="INFO">
			<AppenderRef ref="StdOut" />
			<AppenderRef ref="StdErr" />
		</Root>
	</Loggers>

</Configuration>
